@charset "UTF-8";

/* -- header -- */
header


.top-text {
    background-image: url(../img/top-gazou1.webp);
    margin: 0px auto 0px auto;
    width: 80%;
    height: 300px;
    text-align: center;
}
.top-text h1 {
    color: wheat; 
}
.top-div {
    color: wheat;
}

/* -- main -- */
main 
.contents {
    display: flex;
    width: 100%;
}

/* -- recipe h2 -- */
.recipe-h2 {
    
    text-align: left;
    /* margin: 20px 0px 20px 0px; */
    border-bottom: 3px solid yellowgreen;
    /* padding: 0px 0px 2px 0px; */
}
.recipe-item {
    width: 30%;
    display: flex;
    
    /* padding: 10px 10px; */
}
/* .recipe-img { */
    /* flex: left; */
/* } */
/* .recipe-text { */
    /* width: 40%; */
    /* flex: 0px 1px auto; */
/* } */

/* -- menu -- */
.menu {
    width: 30%;
    padding-left: 50px;
}
.menu h3 {
    background-color: greenyellow;
}

/* -- footer -- */
footer
.recipe-content {
    background-repeat: repeat;
}

.copyright {
    
    background-color: brown;
    text-align: center;
    color: wheat;
}